<IfModule passenger_module>
    PassengerAppRoot /home/nc/api-express-espocrm
    PassengerAppType node
    PassengerStartupFile dist/passenger.js
    PassengerNodejs /opt/cpanel/ea-nodejs20/bin/node
    PassengerAppEnv production
</IfModule>

# Evita que Apache intente negociar archivos y rompa rutas de Node
Options -MultiViews
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Todas las solicitudes van directamente a Node
    RewriteRule ^ - [L]
</IfModule>
